body {
  font-family: Helvetica;
}

.navbar {
  display: inline-block;
  background-image: linear-gradient(to right, skyblue, lightblue);
  width: 100%;
  margin: 0px;
}

.navbar-name {
  padding: 0px 0px 0px 10px;
}
