body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headbar {
  background-image: linear-gradient(to right, #ddba88, skyblue);
  vertical-align: bottom;
  border-radius: 50px;
  width: 33%;
}

.title {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
