body {
  font-family: Helvetica;
}

.navbar {
  background-image: linear-gradient(to right, #ddba88, skyblue);
  padding: 10px;
}

.nav-inline {
  display: inline-block;
  margin: 0px;
}

.navbar-1 {
  padding: 0px 0px 0px 70%;
}
